.form-container1 {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    
  }
  
  .form-group1 {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff
  }  